@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

video#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav {
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 25px rgba(34, 34, 34, 0.6);
    width: 600px;
    height: 80px;
    background-color: rgba(34, 34, 34, 0.6);
    margin: 0 auto;
    position: absolute;
    border-radius: 90px;
    top: 6%;
    left: 50%;
    transition: 300ms;
}

.navul {
    list-style-type: none;
    padding-top: 24px;
}

.navli {
    display: inline;
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding: 37px;
    height: 25px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.2s;
}

.linkovec {
    text-decoration: underline;
}

.avize {
    text-decoration: underline;
}

a:hover {
    color: rgba(255, 255, 255, 0.1);
}

.current {
    color: rgba(255, 255, 255, 0.1);
}

.content {
    box-shadow: 5px 5px 25px rgba(34, 34, 34, 0.6);
    border-radius: 90px;
    background-color: rgba(34, 34, 34, 0.6);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    text-align: center;
    color: white;
}

.nazev {
    font-weight: 300;
    font-style: italic;
}

.subnav {
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 25px rgba(34, 34, 34, 0.6);
    width: 400px;
    height: 40px;
    background-color: rgba(34, 34, 34, 0.6);
    margin: 0 auto;
    position: absolute;
    border-radius: 90px;
    top: 14%;
    left: 50%;
    transition: 300ms;
}

.subnavul {
    list-style-type: none;
    padding-top: 11px;
}

.subnavli {
    display: inline;
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    padding: 28px;
}


h1 {
    padding-top: 50px;
}

.titly{
    float: left;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    line-height: 1.5cm;
    margin-left: 300px;
    text-align: left;
    font-size: 22px;
   
}

.desc{
    font-size: 22px;
    text-align: left;
    float: left;
    height: 200px;
    width: 300px;
    margin-top: 50px;
    line-height: 1.5cm;
}

.nazev{
    font-weight: 300;
    font-style: italic;
}

.obsah{
    font-weight: 500;
}


